*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    text-align: center;
    justify-items: center;
}
h2{
    margin-top: 30px;
}
.Date{
    margin-top: 20px;
    padding: 10px;
    margin-right: 20px;
    
}
